.composition-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 32%);
  // grid-column: 3;
	grid-gap: 1rem;
	justify-content: space-between;
	padding-top: 1rem;
  max-width: 1200px;

	@media (max-width: 1144px) {
		grid-template-columns: repeat(2, 48%);
	}
	@media (max-width: 757px) {
		grid-template-columns: repeat(1, 100%);
	}
}
