.composition {
	color: white;
	background-color: #111111;
	padding: 16px;
	border-radius: 8px;
	text-align: left;
	cursor: pointer;

	&-title {
		margin: 0rem;
	}

	&-contributors {
		width: 100%;
		display: flex;
		padding-top: 28px;
		flex-direction: column;
		gap: 10px;

		&-container {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		&-pic {
			height: 36px;
			width: 36px;
			border-radius: 36px;
		}
	}

	&:hover {
		background-color: #212121;
		transition-duration: 0.2s;
	}
}
